* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.6rem;

}

#hero {
  width: 59.2rem;
  margin: 0 auto 7.2rem;
}

#hero img {
  margin-bottom: 7.2rem;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 4.9rem;
  line-height: 5.6rem;
  font-weight: 400;
  color: #000;

  margin-bottom: 3.2rem;
}

h3 span {
  font-weight: 700;
  font-size: 4.9rem;
}

span,
a {
  color: #FF9900;
}

p,
#footer {
  color: #7D7987;

  font-size: 1.4rem;
  line-height: 2.8rem;
}

#footer a+a {
  margin-left: 2.8rem;
}

#footer #line {
  width: 56.8rem;

  margin: 0 auto .8rem;

  border: 1px solid #ECEFF2;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}